body {
	margin: 0px;
	padding: 0px;
}

.toolbar {
	height: 32px;
	width: 100%;
	font-size: 16px;
}
.toolbar *{
	vertical-align: middle;
	margin-top: 4px;
}
button{
	border-radius: 4px;
}
.toolbar input {	
	border-radius: 4px;
}

.frame{
	position: absolute;
	top: 32px;
	bottom: 0px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
}

.frame.vscode-dark{
	background-color:#333;
}
.frame.vscode-light{
	background-color:#eee;
}

#scroll {
	position: absolute;
	top: 32px;
	bottom: 0px;
	width: 100%;
	overflow-y: scroll;
}

.tbl{
	font-family: Consolas;
	font-size: 16px;
	
}
.tbl.vscode-dark{
	color: #fff;
}
.tbl.vscode-light{
	color: #000;
}

.tbl td:first-child {
	background: rgba(133, 133, 133, 0.4);
}

.tbl tr:first-child {
	background: rgba(131, 131, 131, 0.4);
}
select{
	border-radius: 4px;
	width: 70px;
	font-family: sans-serif;
	background: #eee;
}

input[type=checkbox] {
	display: inline-block;
	vertical-align: middle;
	font-family: sans-serif;
}
label {
	user-select: none;
}
table pre {
	display: inline;
	font-family: Consolas;
	font-size: 16px;
}
.smallFont {
	font-size: 14px;
}

#inspector {	
    display: block;
    position: absolute;
    z-index: 100;
    width: 640px;
    background-color: antiquewhite;
    padding: 4px;
    border: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	color: rgb(48, 24, 21);
	font-family: sans-serif;
	font-size: 16px;
}

.upArrow:after, .upArrow:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	left: 10px;
	top: -20px;
	border: 10px solid transparent;
	border-bottom-color: antiquewhite;
}
.upArrow:before {
	top: -21px;
	border-bottom-color: #000;
}

.downArrow:after, .downArrow:before {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	left: 10px;
	bottom: -20px;
	border: 10px solid transparent;
	border-top-color: antiquewhite;
}

.downArrow:before {
	bottom: -21px;
	border-top-color: #000;
}

#inspector > .item {
	margin: 5px;
	float: left;
	width: 48%;
}
.item div {
	float: left;
}
.item span{
	margin-left: 10px;	
}
#inspector .item-name {
	width: 60px;
	text-align: right;
}